body {
     
        
    height: 912px;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

#container_main {
    position: absolute;
    width: 100%;
    height: 322px;
    left: 0px;
    top: 0px;
    background: #118592;
    border-radius: 20px 20px 0px 0px;
}

#user_name_text {
    position: absolute;
    width: 142px;
    height: 43px;
    left: 16px;
    top: 58px;



    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#user_greetings_text {
    position: absolute;
    width: 169px;
    height: 29px;
    left: 16px;
    top: 89px;
    font-family: Palanquin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;

    color: #FFFFFF;
}

#heading_product {
    position: absolute;
    width: 118px;
    height: 29px;
    left: 16px;
    top: 346px;

    /* H3 */

    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    /* identical to box height */


    color: #7B7E84;
}

#icon_health_insurace {
    margin: 0 20px 8px 38px;
}

#term_insurance_icon {
    margin: 0 20px 8px 0;
}

#car_insurance_icon {
    margin: 0 20px 8px 0;
}

#bike_insurance_icon {
    margin: 0 20px 8px 0;
}

#icon_cont {
    display: flex;
    position: relative;
    top: 400px;
    flex-wrap: wrap;
}

#text_health {
    margin: 0px 29px 20px 38px;

    width: 53px;
    height: 28px;
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: #118592;
}

#text_term {
    margin: 0 32px 20px 0;
    width: 53px;
    height: 28px;
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: #118592;
}

#text_car {
    margin: 0 24px 20px 0;
    width: 53px;
    height: 28px;
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: #118592;
}

#text_bike {
    margin: 0 20px 20px 0;
    width: 53px;
    height: 28px;
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: #118592;
}

#text_family {
    margin: 0px 29px 20px 38px;

    width: 53px;
    height: 28px;
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: #118592;
}
#covid_insurance_icon{
    margin: 0 20px 8px 0;
}
#onecr_insurance{
    margin: 0 20px 8px 0;
}

#family_insurance_icon {margin: 0 20px 8px 38px;}
#text_covid{
    margin: 0 30px 20px 0;
    width: 53px;
    height: 28px;
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: #118592;
}
#text_onecr_cover{
    margin: 0 37px 20px 0;
    width: 53px;
    height: 28px;
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: #118592;
}
#img_telescope{
    margin: 41px 0 16px 16px;
}
#scrolling {
    position: relative;
    top:152px;

overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
}
.card {
display: inline-block;
margin-left:20px;
}
#claim_assistance{
  z-index: 1;
font-family: Palanquin;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;
/* or 100% */

display: flex;
align-items: center;

color: #118592;

}
#card-2{
  margin-right: 20px;
}

#homeOver {
    background-color: transparent;
}
.navIcon {
    height: 72px;
    width: 72px;
    background-color: transparent;
    border: none;
    outline: none;
}
.navIcon:hover {
    border-top: 4px solid #60d1dd;
}
#exploreIcon, #exploreIcon:hover {
    border-top: 4px solid #118592;
}
#bottomNavbar {
    position: sticky;
    top: 85%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}
.navIcon > p {
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    color: #118592;
}
#moreIcon > p {
    margin-top: 6px;
}