*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Palanquin;
    font-style: normal;
}
button {
    cursor: pointer;
}
  .top_nav {
      background-color: #118592;
      height: 4.5rem;
  }

  .size-16 {
      font-size: 1rem;
  }

  .position-top_nav_text {
      position: relative;
      top: 2.1875em;
      left: 36.266%;

  }

  .position-top_nav_arrow {
      position: relative;
      top: 2.1875em;
      left: 6.66%;
  }

  label {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25rem;
  }

  .margin-1 {
      margin: 1rem;
  }

  .padding-1 {
      padding: 1rem;
  }

  .buttonOutline {
      border: 1px solid #118592;
      border-radius: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 25px;
      text-align: center;
      text-decoration: none;
      color: #118592;
      width: 10rem;
      height: 3rem;
      padding: 0.75rem 4rem 0.687rem 4rem;

  }

  .buttonfill {
      background-color: #118592;
      border: 1px solid #118592;
      border-radius: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 25px;
      text-align: center;
      text-decoration: none;
      color: #FFFFFF;
      width: 10rem;
      height: 3rem;
      padding: 0.75rem 4rem 0.687rem 4rem;

  }

  .form_button_div {
     
      max-width: 100%;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      top: 93%;
      text-align: center;
      box-sizing: border-box;
      height: 6rem;

  }

  .line {
      border: 1px solid gray;
      max-width: 40%;
      min-width: 25%;
      height: 2px;
      display: inline-block;
  }

  .btn-radio1 {
      padding-top: 0.3%;
      margin: 0 px 2%;
      border: 1% solid #118592;
      border-radius: 50%; 
      display: inline-block;
      text-align: center;
      width: 9%;
      height: 25%;
  }

  .btn-radio-color {
      background-color: #118592;
      color: #FFFFFF;
  }

  #steps_container {
      margin: 5%;
  }

  .label-radio {
      font-size: 0.75rem;
      color: #7B7E84;
      margin-right: 17%;
  }

  .margin-right-19 {
      margin-right: 15%;
  }
 #processing{
     position: relative;
     top: 215px;
    left: 90px;
}

#success_msg {
    margin-top: 21px;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center; 
    color: #7B7E84;
}
#success_img {
    margin-top: 40px;
    margin-left:30px ;
}
#congrats {
    margin-top: 51px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #7B7E84;
}
#paymentDone {
    background: #118592;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    width: 280px;
    height: 48px;
    margin-top: 51px;
}
#content_success {
    padding-inline: 45px;
}